<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Playlists</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Welcome {{ user_name }}</h1>
    <div class="playlist-container">
        {% for playlist in playlist['items'] %} 
            <div class="playlist">
                <img src="{{ playlist['images'][0]['url'] }}" alt="Playlist Cover">
                <h2>{{ playlist['name'] }}</h2>
            </div>
        {% endfor %}
    </div>
    <div class="recently-played-container">
        <div class="recently-played-songs">
            <ul>
                {% for track in recently_played_data['items'] %}
                <li>
                    <img src="{{ track['track']['album']['images'][0]['url'] }}" alt="Album Cover">
                    {{ track['track']['name'] }} by {{ track['track']['artists'][0]['name'] }}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>
