
/* Recommendations Container */

@keyframes recsFadeUp {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.recs-fade-up {
  animation: recsFadeUp 0.75s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
  animation-delay: 0.1s;
}

.recs-fade-out {
  opacity: 0;
  animation: recsFadeOut .5s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
  animation-delay: 0.1s;
}


@keyframes recsFadeOut {
  from {
    opacity: 1;
    transform: translateX(0px);
  }
  to {
    opacity: 0;
    transform: translateX(50px);
  }
}

.recsDesc-fade-in {
  animation: recsDescFadeIn 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
}
.recsDesc-fade-out {
  animation: recsDescFadeOut 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
}

@keyframes recsDescFadeIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes recsDescFadeOut {
  from {
    opacity: 1;
    transform: translateY(0px);
  }
  to {
    opacity: 0;
    transform: translateY(50px);
  }
} 

.recsDesc-fade-in1 {
  animation: recsDescFadeIn1 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
  animation-delay: 0.3s;
}
.recsDesc-fade-out1 {
  animation: recsDescFadeOut1 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
}
.recsDesc-fade-in2 {
  animation: recsDescFadeIn 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
  animation-delay: 0.3s;
}
.recsDesc-fade-out2 {
  animation: recsDescFadeOut2 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
}

@keyframes recsDescFadeIn1 {
  from {
    opacity: 0;
    transform: translateX(25px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes recsDescFadeOut1 {
  from {
    opacity: 1;
    transform: translateY(0px);
  }
  to {
    opacity: 0;
    transform: translateY(50px);
  }
} 


@keyframes recsDescFadeOut2 {
  from {
    opacity: 1;
    transform: translateY(0px);
  }
  to {
    opacity: 0;
    transform: translateY(50px);
  }
} 


.loadMore-fade-up {
  animation: buttonFadeUp 0.75s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
  animation-delay: 0.15s;
}
.shuffle-fade-up {
  animation: buttonFadeUp 0.75s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
  animation-delay: 0.25s;
}

.loadMore-fade-out {
  animation: recsFadeOut 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
  animation-delay: 0s;
}
.shuffle-fade-out {
  animation: recsFadeOut 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
  animation-delay: 0s;
}

.playlistToggle-fade-in {
  animation: playlistFadeIn 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
  animation-delay: 0.3s;
}

.playlistToggle-fade-out {
  animation: playlistFadeOut 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
  animation-delay: 0.1s;
}

@keyframes playlistFadeIn {
  from {
    opacity: 0;
    transform: translateX(-25px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}


@keyframes playlistFadeOut {
  from {
    opacity: 1;
    transform: translateX(0px);
  }
  to {
    opacity: 0;
    transform: translateX(-25px);
  }
}

@keyframes buttonFadeUp {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}




.transition-transform {
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
  }
  
  .-translate-x-full {
    transform: translateX(-65%);
  }
  
  
  .opacity-100 {
    opacity: 1;
  }
  
  .opacity-0 {
    opacity: 0;
  }
  
  @keyframes followPath {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(50vh - 14px)); /* Adjust the value based on button height */
    }
  }
  
  .container-transition {
    transition: height 0.5s ease-in-out;
    height: var(--container-height);
  }
  
  .embed-container {
    position: relative;
    overflow: visible;
  
  }
  
  .embed {
    position: relative;
    opacity: 0;
    transform: translateY(-300%) scale(1);
    /* transform: translateX(-400%); */
    transition: none;
  
  }
  .embed-p {
    position: relative;
    opacity: 0;
    transform: translateX(-100%) scale(1);
    /* transform: translateX(-400%); */
    transition: none;
  
  }

  
  .embed.active {
    opacity: 80%;
    transform: translateY(0);
    /* animation: popEffect 0.3s ease-out 1.75s;  */
    transition: opacity 2s, transform 1.75s;

  }
  .embed-p.active {
    opacity: 80%;
    transform: translateX(0);
    /* animation: popEffect 0.3s ease-out 1.75s;  */
    transition: opacity 2s, transform 1.75s;

  }
/* 
  .embed.active-shuffle {
    opacity: 80%;
    transform: translateY(0);
    transition: opacity 2s , transform 1.75s ;

  }


   */


  .recommendations-container {
    height: calc(100% - 60px);
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.5) transparent;
    scroll-behavior: smooth; /* Add this line for smooth scrolling */
  }
  .recommendations-container::-webkit-scrollbar {
    width: 6px;
  }
  
  .recommendations-container::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 3px;
  }
  
  .recommendations-container::-webkit-scrollbar-track {
    background-color: transparent;
  }