body{
    background-color: #111112;
    color: #ffffff;
    font-family: "Circular", "Avenir", "Proxima Nova", "Helvetica Neue", Helvetica, sans-serif;

}

.top-artist-container {
    display: flex;
    justify-content: flex-start;
    overflow: hidden; 
    white-space: nowrap; 
}

.top-artist-wrapper {
    display: inline-block; /* Display artists horizontally */
    white-space: nowrap; /* Prevent line breaks within artists */
    overflow-x: scroll; /* Enable horizontal scrolling */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on touch devices */
}

.top-artist {
    margin: 10px; 
    text-align: center; 
    transition: transform 0.2s;
    display: inline-block;
}

.top-artist:hover {
    transform: scale(1.1); /* Enlarge the item by 10% on hover */
}

#scroll-right-button {
    position: absolute;
    right: 0;
    top: 50%; /* Adjust this value to vertically center the button */
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

#scroll-right-button:hover {
    color: #0077FF; /* Change the color when hovered */
}

.top-artist img {
    border-radius: 10px;
}

/* CSS for Recently Played Container */
.recently-played-container {
    display: flex; 
    align-items: center; 
}

/* CSS for Recently Played Songs List */
.recently-played-songs {
    display: flex; 
    align-items: center; 
    margin-left: 10px; 
}

/* CSS for Album Cover Images */
.recently-played-songs img {
    max-width: 50px; 
    height: auto; 
    margin-right: 10px; 
}

/* CSS for Song List Items */
.recently-played-songs li {
    list-style: none; 
    margin-top: 10px; 
}