@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';



html { background-color: #1c2020;
  height: 100%;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden; }

body { height: 100%; }

.logout-position {
  position: fixed;
  top: 20px;
  right: 20px;
}



/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 12px;
  /* Vertical scrollbar width */
}

::-webkit-scrollbar-track {
  background-color: #1C2128;
  /* Track color */
  margin: 4px 0;

}

::-webkit-scrollbar-thumb {
  background-color: #555;
  /* Thumb color */
  border-radius: 4px;
  /* Rounded corners for the thumb */
  border: 3px solid #1C2128;
  /* Optional: border for the thumb */
  background-clip: content-box;
}

/* Ensures that the scrollbar is only visible when necessary */
::-webkit-scrollbar-thumb:hover {
  background-color: #666;
  /* Darker color on hover */
}



.loader {
  margin: 0 auto;
  width: 60px;
  height: 50px;
  text-align: center;
  font-size: 10px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.loader>div {
  height: 100%;
  width: 8px;
  display: inline-block;
  margin-left: 2px;
  animation: delay 0.8s infinite ease-in-out;
}

.loader .bar1 {
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.loader .bar2 {
  background-color: #cc8e15;
  animation-delay: -0.7s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.loader .bar3 {
  background-color: #ffffff;
  animation-delay: -0.6s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.loader .bar4 {
  background-color: #cc8e15;
  animation-delay: -0.5s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.loader .bar5 {
  background-color: #ffffff;
  animation-delay: -0.4s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.loader .bar6 {
  background-color: #cc8e15;
  animation-delay: -0.3s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@keyframes delay {

  0%,
  40%,
  100% {
    transform: scaleY(0.05);
  }

  20% {
    transform: scaleY(1.0);
  }
}


.transition-transform {
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.-translate-x-full {
  transform: translateX(-65%);
}

.buttonDiv:hover + .tooltip {
  opacity: 1;
  pointer-events: auto;
}

.opacity-100 {
  opacity: 1;
}

.opacity-0 {
  opacity: 0;
}

.recommendations-list {
  overflow: hidden;
  transition: height 0.5s ease-in-out; /* Add transition for height */
  height: 0; /* Initially set height to 0 to hide the list */
}
@keyframes followPath {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(calc(50vh - 14px)); /* Adjust the value based on button height */
  }
}
.container-transition {
  transition: height 0.5s ease-in-out;
  height: var(--container-height);
}

