@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './styles/Components/Body.css';
@import './styles/Components/GradientBackground.css';
@import './styles/Components/Scrollbar.css';
@import './styles/Components/AuthButton.css';
@import './styles/Components/Loader.css';
@import './styles/Components/RecommendationList.css';
@import './styles/Components/Navbar.css';
@import './styles/Components/PlaylistDropdown.css';
@import './styles/Components/SearchBar.css';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.montserrat-reg {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

.lato-regular {
font-family: "Lato", sans-serif;
font-optical-sizing: auto;
font-weight: 800;
font-style: normal;
}